body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 2px solid #ddd;
}

.nav-links {
  display: flex;
  gap: 20px;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.big-title {
  text-align: center;
  font-size: 220%;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-card {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  width: 300px;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.book-card > button {
  margin: 5px;
}

.book-card > p {
  margin: 10px;
}

.book-card > h2 {
  margin: 0px;
  margin-top: 5px;
}

.book-card > img {
  height: 200px;
}

.single-book > * {
  margin: auto;
  margin: 0 auto;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  display: block;
  margin-top: 10px;
  transform: translateX(60px);
}
